figure {
    width: 100%;
}


#obraz {
    width: 100%;
}

@media (max-width:1170px) {
    .brum {
        height: 100%
    }
}


@media (min-width:993px) {
    .brum {
        height: 66%;
    }
}

@media (max-width:992px) {
    .brum {
        height: 49%;
    }
}



figcaption {
    text-align: center;
}
