/*general styles*/

span {
    color: lime;
}

section {
    padding: 0 80px 100px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
}

/*navigation*/

nav {
    width: 100%;
    top: 0;
    position: fixed;
    background-color: white;
    padding: 20px;
    text-align: right;
    z-index: 10;
}

nav > ul > li {
    display: inline-block;
    color: lime;
    text-decoration: none;
    transition: color 0.5;
}

nav > ul > li:hover {
    color: black;
}



/*navigation end*/

/*header start*/

#header-content > h2 {
    color: white;
    font-weight: 50;
    font-size: 100;
    margin-top: -30px;
}

#main-header {
    background-image: url(/img/header-background.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
    background-repeat: no-repeat;
}

#header-content {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
}


/*header end*/

/*about*/

#about figure {
    width: 50%;
    margin: 0;
    float: left;
}

#about {
    box-shadow: 6px 3px 5px 6px black;
    box-shadow: 36px 3px 5px 6px black;
    box-shadow: 6px 3px 5px 6px black;
}

#about img {
    max-height: 350px;
    max-height: 350px;
    border-radius: 20%;
}

section {
    overflow: hidden;
    box-shadow: 20px;

}
